<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item navbar-brand-mini-wrapper">
      <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </li>

    <li class="nav-item nav-category">
      <span class="nav-link"><a class="nav-link" routerLink="" routerLinkActive="active">
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a></span>
    </li>

    <li class="nav-item nav-category"><span class="nav-link">Management</span></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-manager" routerLinkActive="active">
        <span class="menu-title">User  Management</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/room-manager" routerLinkActive="active" aria-expanded="false" aria-controls="icons">
        <span class="menu-title">Room Management</span>

      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" routerLink="/post-manager" routerLinkActive="active"  aria-expanded="false" aria-controls="forms">
        <span class="menu-title">Post Management</span>

      </a>

    </li>
    <li class="nav-item nav-category"><span class="nav-link">Report</span></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/general-report" routerLinkActive="active">
        <span class="menu-title">General report</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-report" routerLinkActive="active">
        <span class="menu-title">User report</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/meeting-report" routerLinkActive="active">
        <span class="menu-title">Meeting report</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/post-report" routerLinkActive="active">
        <span class="menu-title">Post report</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/revenue-report" routerLinkActive="active">
        <span class="menu-title">Revenue report</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">Email Configuration</span></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/email-configuration" routerLinkActive="active">
        <span class="menu-title">Email Configuration</span>
        <i class="icon-layers menu-icon"></i>
      </a>
    </li>



  </ul>
</nav>
