<div class="email-config-container">
  <h2>Email Notification Form</h2>
  <div class="info">
    <div class="icon address">
      <i class="fa-solid fa-location-dot"></i>
    </div>
      <div class="icon phone">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="icon email">
        <i class="fa-solid fa-envelope"></i>
      </div>
  </div>
  <div class="info-detail">
    <div class="address">
      FPT University Da Nang
    </div>
    <div class="phone">
     +84999999
    </div>
    <div class="email">
      virtualmeet&#64;gmail.com
    </div>
  </div>
  <div class="form-group">
    <label for="template">Select Template:</label>
    <select id="template" [(ngModel)]="selectedTemplate" name="template" (change)="onTemplateChange()">
      <option value="" disabled selected>-- Choose Template --</option>
      <option value="maintenance">System Maintenance</option>
      <option value="newFeature">New Feature</option>
      <option value="promotion">Promotion</option>
    </select>
  </div>
  <form (submit)="sendNotification()">
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input id="subject" type="text" [(ngModel)]="emailSubject" name="subject" required />
    </div>

    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" class="message" rows="5" [(ngModel)]="emailMessage" name="message" required></textarea>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="file">Attach File:</label>-->
<!--      <input id="file" type="file" (change)="onFileSelected($event)" />-->
<!--      <p *ngIf="selectedFile">Selected: {{ selectedFile.name }}</p>-->
<!--    </div>-->

    <button type="submit" class="send-btn">Send Notification</button>
  </form>

  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
</div>
