.email-config-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-bottom: 70px;

  h2 {
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    quill-editor {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      min-height: 150px;
    }

    input[type="file"] {
      padding: 5px;
      border: none;
    }

    p {
      font-size: 14px;
      color: #786aec;
    }
  }

  .send-btn {
    width: 100%;
    padding: 10px;
    background: #786aec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .send-btn:hover {
    background: #a10131;
  }

  .success {
    color: green;
    text-align: center;
    margin-top: 15px;
  }
  .message
  {
    height: 200px;
  }
}
.info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  margin-top: 10px;
}
.info-detail{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.info div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; // Đặt kích thước cố định cho ô chứa icon
  height: 50px;
  background-color: #f0f0f0; // Màu nền để nhìn rõ hơn
  border-radius: 50%; // Làm tròn nếu muốn
}
.icon{
  width: 50px;
  height: 50px;
  background-color: deeppink;
  border-radius: 50%;

}
