<section class="content" style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a routerLink="/user-manager" routerLinkActive="active">User Management</a></li>

              <li class="breadcrumb-item active" aria-current="page">User Detail</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img [src]="user?.picture?.url" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
              <h5 class="my-3">{{user?.name}}</h5>

              <div class="d-flex justify-content-center mb-2">
                <p class="text-muted mb-0">{{user?.bio ?? "No bio yet!"}}</p>

              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user?.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Bio</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user?.bio ?? "No bio yet!"}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Followers</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user?.followersCount ?? 0}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Friends</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user?.friendCount ?? 0 }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Followings</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user?.followingCount ?? 0}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
