
<div class="content-wrapper">
  <div class="filter-container">
    <div class="date-group">
      <label for="from-date"><strong>From Date:</strong></label>
      <input
        type="date"
        id="from-date"
        [(ngModel)]="beforeDate"
        (ngModelChange)="onDateChange()"
        [max]="afterDate"
        name="from-date"
      >
    </div>

    <div class="date-group">
      <label for="to-date"><strong>To Date:</strong></label>
      <input
        type="date"
        id="to-date"
        [(ngModel)]="afterDate"
        (ngModelChange)="onDateChange()"
        [min]="beforeDate"
        [max]="today"
        name="to-date"
      >
    </div>
  </div>

  <div *ngIf="barChartData" class="chart-container">
    <canvas baseChart style="display: block; box-sizing: border-box; height: 400px; width: 1000px;"
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'">
    </canvas>
  </div>
  <div class="chart-container">
    <canvas baseChart id="barchart"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>


  <div class="row" style="margin-top: 90px">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-sm-flex align-items-baseline report-summary-header">
                <h5 class="font-weight-semibold">Report Summary</h5> <span class="ms-auto">Updated Report</span> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
              </div>
            </div>
          </div>
          <div class="row report-inner-cards-wrapper">
            <div class=" col-md -6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">Total Users</span>
                <h4>{{totalUsers}}</h4>
                <span class="report-count">  <a style="text-decoration: none" routerLink="/user-report">User Report</a> </span>
              </div>
              <div class="inner-card-icon bg-success">
                <i class="icon-rocket"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">Total Rooms</span>
                <h4>{{totalRooms}}</h4>
                <span class="report-count"> <a style="text-decoration: none" routerLink="/meeting-report">Room Report</a></span>
              </div>
              <div class="inner-card-icon bg-danger">
                <i class="icon-briefcase"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">Total Posts</span>
                <h4>{{ totalPosts }}</h4>
                <span class="report-count"> <a style="text-decoration: none" routerLink="/post-report">Post Report</a></span>
              </div>
              <div class="inner-card-icon bg-warning">
                <i class="icon-globe-alt"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">Revenue</span>
                <h4>{{ revenueReport?.totalIncome | currency:'VND':'symbol':'1.0-0' }}</h4>

                <span class="report-count"><a style="text-decoration: none" routerLink="/revenue-report">Revenue Report</a></span>
              </div>
              <div class="inner-card-icon bg-primary">
                <i class="icon-diamond"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
